.profile-container {
    padding: 0 10vw;
    padding-top: 4vh;
}

.profile-heading {
    display: flex;
    flex-direction: row;
    gap: 5rem;
}

.profile-picture {
    height: 10rem;
    width: 10rem;
    aspect-ratio: 1/1;
}

.profile-picture-container {
    text-align: center;
}

.profile-picture-container,
.profile-heading-info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.profile-bio {
    font-style: italic;
    font-family: 'Noto Serif';
    line-height: 1.625;
    font-size: 1.25rem;
    color: var(--black-subtle);
}

.profile-heading-stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.profile-heading-stats h4 {
    color: var(--primary);
    font-weight: 700;
    font-family: 'Noto Serif';
    font-size: 1.875rem;
    line-height: 2.25rem;
}

.profile-heading-stats p {
    font-family: 'Plus Jakarta Sans', sans-serif;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 10px;
}

.button-follow,
.button-unfollow,
.button-edit-profile {
    background-color: var(--primary);
    color: white;
    font-weight: 600;
    padding: 0.75rem 2rem;
    border: none;
    border-radius: 9999px;
    cursor: pointer;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transition-duration: 150ms;
}

.button-follow:hover,
.button-unfollow:hover,
.button-edit-profile:hover {
    background-color: #9e4632;
}