.signup-container,
.login-container {
    border-radius: 1.5rem;
    box-shadow: 0 0 0 1px rgba(86, 66, 61, 0.08);
    overflow: hidden;
    height: 90vh;
}

.signup-column-left,
.signup-column-right,
.login-column-left,
.login-column-right {
    padding: 0;
}

.login-column-right,
.signup-column-right {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.login-column-left,
.signup-column-left {
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.login-column-right > form,
.signup-column-right > form {
    width: 50%
}

.signup-image,
.login-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.signup-brand,
.login-brand {
    color: var(--primary) !important;
    /* font-family: 'Times New Roman', Times, serif; */
    font-family: Noto Serif;
    font-weight: 700;
    font-size: 1.75rem;
}