:root {
    --primary: #C0563E;
    --primary-opaque: rgb(192, 86, 62, .9);
    --primary-subtle: #FFDAD2;
    --secondary: #76885B;
    --tetriary: #E8DED1;
    --neutral: #4D463F;
    --background: rgb(255 248 244 / 1);
    --background-deeper: #fdf2e8;
    --card: rgb(253 242 232 / 1);
    /* --card: rgb(245 230 215); */
    --on-surface: rgb(86 66 61 / 0.5);
}

.homepage-container {
    padding-right: 0 !important;
    padding-left: 0 !important
}

.trending-container {
    width: 100%;
    background-color: var(--card);
    /* padding: 50px 24px; */
    padding: 0 2vw;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transition-duration: 700ms;
}

.trending-recipe-card-container {
    display: flex;
    flex-direction: row;
}

.trending-recipe-card {
    height: 100%;
    flex: 0 0 33.3333%;
    padding: 2rem 0.5rem;
}

.trending-recipe-title {
    font-family: 'Noto Serif';
    color: black;
    transition: color 150ms ease-in-out
}

.trending-recipe-card:hover .trending-recipe-title-link {
    color: var(--primary) !important;
}

.trending-recipe-image-container {
    overflow: hidden;
    border-radius: 1.5rem;
}

.trending-recipe-image {
    height: 25vh;
    width: 100%;
    object-fit: cover;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transition-duration: 700ms;
}

.trending-recipe-image:hover {
    transform: scale(1.05)
}

.trending-recipe-about {
    display: grid;
    grid-template-rows: 1fr 1fr 1.5fr 1fr;
    align-items: start;
}

.trending-recipe-about-name-time {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
}

.trending-recipe-time {
    display: flex;
    align-items: center;
    gap: 4px;
}

.trending-recipe-tag {
    background-color: rgb(236 224 215);
    border-radius: 9999px;
    padding: 0.25rem 0.5rem;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.trending-recipe-tags {
    display: flex;
    gap: 4px;
    color: var(--on-surface);
}