@import url('https://googleapis.com');

:root {
    --primary: #C0563E;
    --primary-opaque: rgb(192, 86, 62, .9);
    --primary-subtle: #FFDAD2;
    --secondary: #76885B;
    --tetriary: #E8DED1;
    --neutral: #4D463F;
    --background: rgb(255 248 244 / 1);
    --background-deeper: #fdf2e8;
    --card: rgb(253 242 232 / 1);
    /* --card: rgb(245 230 215); */
    --on-surface: rgb(86 66 61 / 0.5);
}

/* .recipe-page {
    
} */

.recipe-image-container {
    position: relative;
    width: 100%;
}

.recipe-background-image {
    width: 100%;
    object-fit: cover;
    max-height: 50vh;
    display: block;
}

.recipe-text-overlay {
    font-family: Noto Serif !important;
    position: absolute;
    inset: 0px;
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
    padding-left: 10vw;
    border-radius: 8px;
}

.recipe-text-overlay > h2 {
    font-size: 4rem;
    text-align: left;
    text-shadow: 
    0 1px 2px rgba(0, 0, 0, 0.6), 
    0 0 12px rgba(0, 0, 0, 0.4);
}

.recipe-text-overlay > p {
    font-size: 2rem;
    text-align: left;
    text-shadow: 
    0 1px 2px rgba(0, 0, 0, 0.6), 
    0 0 12px rgba(0, 0, 0, 0.4);
}

.recipe-info-bar {
    width: 100%;
    background-color: var(--card);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vh 10vw;
}

.recipe-info-left,
.recipe-info-right {
    display: flex;
    align-items: center;
    gap: 2vw;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.recipe-info-label {
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 0.1em;
}

.recipe-info-data {
    font-family: Noto Serif !important;
    font-size: 20px;
}

.recipe-info-favorite,
.recipe-info-share {
    border-radius: 9999px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
}

.recipe-info-share {
    background-color: var(--tetriary);
}

.recipe-info-favorite {
    background-color: rgb(247, 211, 217);
}

.recipe-instructions {
    display: flex;
    width: 90vw;
    margin: auto;
    justify-content: space-between;
    padding: 5vh 0;
}

.recipe-ingredients {
    width: 25%
}

.recipe-directions {
    width: 65%
}

.recipe-ingredients-title,
.recipe-directions-title {
    font-family: Noto Serif !important;
    border-bottom: 1px solid rgb(221, 192, 186, 0.3);
}

.recipe-ingredient-list {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.recipe-ingredient {
    background-color: white;
    padding: 1rem;
}

.recipe-ingredient:hover {
    border: 1px solid rgb(0, 0, 0, 0.5);
}