@import url('https://googleapis.com');

:root {
    --primary: #C0563E;
    --primary-opaque: rgb(192, 86, 62, .9);
    --primary-subtle: #FFDAD2;
    --secondary: #76885B;
    --tetriary: #E8DED1;
    --pantry-blue: #0055B3;
    --pantry-bold-red: #B3301B;
    --neutral: #4D463F;
    --background: rgb(255 248 244 / 1);
    --background-deeper: #fdf2e8;
    --card: rgb(253 242 232 / 1);
    --card-transparent: rgb(253 242 232 / 0.9);
    /* --card: rgb(245 230 215); */
    --on-surface: rgb(86 66 61 / 0.5);
    --black-subtle: #48494b
}

a {
    color: var(--neutral) !important;
    text-decoration: none;
}

a:hover {
    color: var(--primary) !important;
    text-decoration: none;
}

html,
body,
#root,
.app {
    /* height: 100%; */
    background-color: var(--background);
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: #56423d;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4 {
    font-family: 'Noto Serif', serif;
    color: #201b15;
    /* font-weight: 700; */
    line-height: 1.2;
    /* letter-spacing: -0.02em; */
}

h1 {
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
}

h2 {
    font-size: 2.25rem;
    margin-bottom: 1.25rem;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

h4 {
    font-size: 1.25rem;
    margin-bottom: 0.75rem;
}

p {
    /* font-size: 1.125rem; */
    font-size: 1rem;
    /* margin-bottom: 1.5rem; */
    margin-bottom: 0 !important;
    max-width: 65ch;
}

svg {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--background);
}

.loading-spinner {
    width: 50px;
    height: 50px;
    border: 6px solid #f3f3f3;
    border-top: 6px solid var(--primary);
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

input,
textarea {
    font-family: Noto Serif !important;
    text-transform: none !important;
}

.main-content {
    width: 80%;
}

.pantry-primary {
    background-color: var(--primary);
}


.dropdown-menu.show {
    background-color: var(--background-deeper);
}

.dropdown-item:hover {
    background-color: rgba(240, 229, 219, 0.95);
}

.pantry-primary-subtle {
    background-color: #FFDAD2;
}

.pantry-secondary {
    background-color: #76885B;
}

.pantry-secondary:hover {
    background-color: #6B7D51;
}

.pantry-tertiary {
    background-color: #E8DED1;
}

.icon-link {
    font-size: 1.5rem;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}

.icon-link:hover {
    cursor: pointer;
}

.not-favorited:hover {
    fill: var(--pantry-bold-red) !important;
    cursor: pointer;
}

.favorited {
    color: var(--pantry-bold-red) !important;
}


.recipe-info-favorite:hover .favorited,
.favorited:hover {
    fill: #5D5755 !important;
    cursor: pointer;
}

.recipe-info-share:hover .share-icon,
.share-icon:hover {
    /* color: #7A8D99 !important; */
    color: var(--pantry-blue) !important;
    cursor: pointer;
}

.alert-modal {
    background-color: rgb(255 218 214);
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 1.5rem;
    font-family: 'Plus Jakarta Sans';
    color: rgb(147 0 10 / 0.8) !important;
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin: 1.5rem;
}

.alert-heading {
    display: flex;
    align-items: center;
    font-size: 1.5rem !important;
    gap: 0.5rem;
    font-weight: 700;
}

/* .profile-pantry-list,
.profile-recipes-list {
    height: 25vh;
    overflow-y: auto;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.profile-pantry-list::-webkit-scrollbar,
.profile-recipes-list::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
} */

.secondary-link {
    position: relative;
    z-index: 1;
}

.card {
    background-color: var(--card);
}

.form-group {
    margin: 1.5rem 0;
}

.form-title {
    color: var(--neutral);
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: 'Noto Serif';
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #4d463f3f;
}

.form-label {
    color: var(--neutral);
    text-transform: uppercase;
    font-family: 'Plus Jakarta Sans', sans-serif;
    letter-spacing: 0.1em;
    font-size: 0.75rem;
    font-weight: 700;
}

.form-input,
.form-control {
    color: var(--neutral);
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 1rem;
    font-family: 'Plus Jakarta Sans', sans-serif;
    padding: .375rem .75rem;
    width: 100%;
}

.form-input,
.form-control,
.form-select {
    /* background-color: var(--tetriary); */
    /* border: 1px solid var(--neutral) !important; */
    background-color: var(--card);
    border: 1px solid rgb(238, 227, 217);
    border-radius: 0.75rem;
}

.form-input:focus,
.form-control:focus,
.form-select:focus {
    box-shadow: none !important;
    background-color: var(--tetriary) !important;
}

.add-step,
.add-ingredient {
    font-family: Noto Serif;
    font-weight: 700;
}

.add-step {
    color: var(--primary);
}

.add-step:hover,
.add-ingredient:hover {
    cursor: pointer;
}

.remove-button {
    color: var(--on-surface);
    font-size: 1.5rem;
    display: flex;
    padding: 0;
    cursor: pointer;
}

.submit-button {
    background-color: var(--primary);
    color: white;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.125rem;
    padding-top: 1.125rem;
    padding-bottom: 1.125rem;
    border-radius: 9999px;
    border: 0 !important;
    width: 75%;
    margin: 2rem;
}

.submit-button:hover {
    background-color: var(--primary-opaque) !important;
}

.new-recipe-block {
    background-color: var(--card);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 8px;
    border-radius: 1rem;
}

.new-recipe-block > input,
.new-recipe-block > input:focus {
    border: none !important;
    background-color: var(--card) !important;
    text-align: center;
}

.recipe-step-counter {
    background-color: var(--primary);
    display: flex;
    border-radius: 9999px;
    width: 2rem;
    align-items: center;
    height: 2rem;
    justify-content: center;
}


