:root {
    --primary: #5F6F52;
    --primary-subtle: #A9B388;
    --secondary: #FEFAE0;
    --tetriary: #B99470;
}

.app {
    min-height: 100vh;
}

.pantry-primary,
.dropdown-menu.show {
    color: white;
    background-color: #5F6F52;
}

.dropdown-item:hover {
    background-color: #404d36;
}

.pantry-primary-subtle {
    background-color: #A9B388;
}

.pantry-secondary {
    background-color: #FEFAE0;
}

.pantry-tertiary {
    background-color: #B99470;
}

p {
    margin-bottom: 0 !important;
}

.profile-pantry-list,
.profile-recipes-list {
    height: 25vh;
    overflow-y: auto;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.profile-pantry-list::-webkit-scrollbar,
.profile-recipes-list::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
}

