/* :root {
    --primary: #5F6F52;
    --primary-subtle: #A9B388;
    --secondary: #FEFAE0;
    --tetriary: #B99470;
} */

:root {
    --primary: #C0563E;
    --primary-subtle: #FFDAD2;
    --secondary: #76885B;
    --tetriary: #E8DED1;
    --neutral: #4D463F;
    --background: #fff8f4;
    --background-deeper: #fdf2e8;
    --card: rgba(253, 242, 232, 0.95);
}

.app {
    min-height: 100vh;
    background-color: var(--background);
}

.main-content {
    width: 80%;
}

.pantry-primary {
    background-color: var(--primary);
}


.dropdown-menu.show {
    background-color: var(--background-deeper);
}

.dropdown-item:hover {
    background-color: rgba(240, 229, 219, 0.95);
}

.pantry-primary-subtle {
    background-color: #FFDAD2;
}

.pantry-secondary {
    background-color: #76885B;
}

.pantry-secondary:hover {
    background-color: #6B7D51;
}

.pantry-tertiary {
    background-color: #E8DED1;
}

.pantry-heading {
    background-color: rgba(255, 248, 244, 0.7);
    color: var(--primary) !important;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: 20px;
}

.navbar-brand {
    color: var(--primary) !important;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 1.75rem;
}

p {
    margin-bottom: 0 !important;
}

.profile-pantry-list,
.profile-recipes-list {
    height: 25vh;
    overflow-y: auto;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.profile-pantry-list::-webkit-scrollbar,
.profile-recipes-list::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
}

.secondary-link {
    position: relative;
    z-index: 1;
}

.btn {
    border: 1px solid var(--neutral) !important;
}

.card,
form {
    background-color: var(--card);
}

.form-control,
.form-select {
    background-color: var(--tetriary);
    border: 1px solid var(--neutral) !important;
}

.form-control:focus,
.form-select:focus {
    box-shadow: none !important;
    background-color: var(--tetriary) !important;
}

.add-step {
    color: var(--primary)
}

.add-step:hover,
.add-ingredient:hover {
    cursor: pointer;
}


