@import url('https://googleapis.com');

.pantry-nav {
    background-color: var(--card-transparent) !important;
    margin: 0 !important;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 10vw;
    color: var(--primary) !important;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: 12px;
    box-shadow: 0 12px 40px rgba(86, 66, 61, 0.08);
}

.active {
    color: var(--primary) !important;
}

.navbar-left {
    display: flex;
    align-items: center;
    font-size: 1.125rem;
    gap: 2rem;
}

.navbar-link {
    text-transform: uppercase;
    font-family: 'Plus Jakarta Sans', sans-serif;
    letter-spacing: 0.1em;
    font-weight: 700;
    font-size: 0.875rem;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.navbar-brand {
    color: var(--primary) !important;
    font-family: Noto Serif;
    font-weight: 700;
    font-size: 1.75rem;
}

.nav-item {
    background-color: transparent !important;
}

.pantry-nav-unauthenticated {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: flex-start;
}

.pantry-heading-user {
    gap: 0.5rem;
}

.pantry-heading-profile-icon:hover {
    cursor: pointer;
    color: var(--primary) !important;
}

.pantry-nav-search {
    background-color: rgb(236 224 215);
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    display: flex;
    align-items: center;
    color: black !important;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transition-duration: 150ms;
}

.pantry-nav-search input {
    all: unset;
    padding: 0 0.5rem;
}

.pantry-nav-search:focus-within {
    /* border: 1px solid rgb(160 63 40 / 0.2) !important; */
    box-shadow: 0 0 0 2px rgb(160 63 40 / 0.2);
}

.new-pantry-item-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    /* transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 2500ms; */
}

.new-pantry-item-modal-content {
    background-color: var(--background);
    padding: 24px;
    border-radius: 8px;
    position: relative;
    max-width: 500px;
    width: 100%;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.1);
}

.modal-close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.modal-submit-container {
    display: flex;
    justify-content: end;
    margin: 0 !important;
}

.modal-submit-button {
    width: 25% !important;
    margin: 0 !important;
    padding: 0.5rem !important;
}